<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898255970494-a0vqudjpsc6trf1euumbin4djqfu52sc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898255970494-a0vqudjpsc6trf1euumbin4djqfu52sc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898255970494-2h6h1glpg2fmjcr2tvu8t7uir59vvbti.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDi-JSOKyzeoEyKh2EzmMLRywjq-moATBE</string>
	<key>GCM_SENDER_ID</key>
	<string>898255970494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ratedsolution.personalBranding</string>
	<key>PROJECT_ID</key>
	<string>dr-ahmed-branding</string>
	<key>STORAGE_BUCKET</key>
	<string>dr-ahmed-branding.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898255970494:ios:593de38887cbbf112f7eef</string>
	<key>DATABASE_URL</key>
	<string>https://dr-ahmed-branding-default-rtdb.firebaseio.com</string>
</dict>
</plist>